<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>td:hover{cursor: pointer;}</style>
</head>
<body>
<div th:replace="~{common/navbar :: navbar}" ></div>
	<div class="container py-4">
		<div class="bd-example-snippet bd-code-snippet">
			<div class="p-5 mb-4 bg-light rounded-3">
				<div class="container-fluid py-5">
					<h1 class="display-5 fw-bold">General Board</h1>
				</div>
			</div>
			<div class="bd-example">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="80px">글 번호</th>
							<th>글 제목</th>
							<th width="130px">작성자</th>
							<th width="130px">작성일자</th>
							<th width="80px">조회수</th>
	          			</tr>
	          		</thead>
	         		<tbody> 
		          			<tr th:each="b : ${list}">
		            			<td>[[${ b.boardId }]]</td>
		            			<td>[[${ b.boardTitle }]]</td>
		            			<td>[[${ b.nickName }]]</td>
		            			<td>[[${ b.boardModifyDate }]]</td>
		            			<td>[[${ b.boardCount }]]</td>
		          			</tr>
	          		</tbody>
	        	</table>
	       	</div>
		</div>
		
        <nav aria-label="Standard pagination example" style="float: right;">
        	<ul class="pagination" th:with="loc=${loc}">
	            <li class="page-item">
	            	<a class="page-link" th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous">
	            		<span aria-hidden="true">&laquo;</span>
	              	</a>
	            </li>
	            
	            	<li th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}" class="page-item">
	            		<a class="page-link" th:href="@{${loc}(page=${p})}">[[${ p }]]</a>
	            	</li>
				
	            <li class="page-item">
	            	<a class="page-link" th:href="@{${loc}(page=${pi.currentPage + 1})}" aria-label="Previous">
	            		<span aria-hidden="true">&raquo;</span>
	            	</a>
	            </li>
	    	</ul>
        </nav>
        	<button class="btn btn-outline-success" type="button" onclick="location.href='writeBoard.bo'" th:if="${session.loginUser}">WRITE BOARD</button>
	</div>
	
	<!--tbody 먼저 접근하고 그 안에 tr td접근 -->
	<script th:inline="javascript">
		window.onload=()=>{
			const tbody = document.querySelector('tbody');
			const tds = tbody.querySelectorAll('td');
			for(const td of tds){
				td.addEventListener('click', function(){
					const trTds = this.parentElement.querySelectorAll('td');   
					const boardId = trTds[0].innerText;
					console.log(boardId);
					location.href
					
					/*<![CDATA[*/
					="selectBoard.bo?bId=" + boardId + "&page=" + /*[[${pi.currentPage}]]*/1;
					/*]]>*/					
				})
			}			
			//상세보기 후 'boardDetail.jsp로 연결-> writeBoard.jsp를 복붙하고 코드 바꿔서 구현
		}
	</script>
	
</body>
</html>
