<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.spring.member.model.dao.MemberMapper">
<!-- interface로만든 dao MemberMapper가 mapper위치로서 namespace로 들어감 -->
	<select id="login" resultType="Member">	
	<!-- id는 Mapper 인터페이스의 로그인 메소드명-->
		select *
		from member
		where member_status = 'Y' and id = #{id}
	</select>		 
	
	<insert id="insertMember">
		insert into member
		values(#{id}, #{pwd}, #{name}, #{nickName},#{email},#{gender},#{age},
				#{phone}, #{address}, sysdate, sysdate, default, default)
	</insert>
	
	<select id="checkId" resultType="_int">
		select count(*)
		from member
		where id = #{id}
	</select>
	 
	 <select id="checknickName" resultType="_int">
		select count(*)
		from member
		where nickName = #{nickName}
	</select>
	 
 	<select id="selectMyList" resultType="map">
      <![CDATA[ 
         select id_type, board_title, count_content, modify_date 
         from (select board_id id_type, board_title,to_char(board_count) count_content, board_modify_date modify_date
               from board
               where board_writer = #{id} and board_status = 'Y'
               order by board_id desc)
         where rownum <= 5
         union
         select *
         from (select board_type-3, board_title, reply_content, reply_modify_date
               from reply
                 join board on(ref_board_id = board_id)
               where  reply_writer = #{id} and reply_status = 'Y'
               order by reply_id desc)
         where rownum <= 5
         order by id_type desc
      ]]>
   </select>
   
   <update id="updateMember">
   		update member 
		set name=#{name}, nickname=#{nickName}, email=#{email}, gender=#{gender}, age=#{age}, phone=#{phone}, address=#{address}, update_date=sysdate
		where id=#{id}
   </update>
   
   <update id="deleteMember">
   		update member
   		set MEMBER_STATUS = 'N'
   		where id = #{id}
   </update>
   
   <update id="updatePwd">
   		update member
   		set pwd = #{newPwd}
   		where id = #{id}
   </update>
</mapper>
